[submodule "chromite/third_party/pyelftools"]
	path = chromite/third_party/pyelftools
	url = https://chromium.googlesource.com/chromiumos/third_party/pyelftools
[submodule "src/scripts"]
	path = src/scripts
	url = https://chromium.googlesource.com/chromiumos/platform/crosutils
[submodule "src/platform/ec"]
	path = src/platform/ec
	url = https://github.com/FrameworkComputer/EmbeddedController
[submodule "src/third_party/zephyr/cmsis"]
	path = src/third_party/zephyr/cmsis
	url = https://chromium.googlesource.com/chromiumos/third_party/zephyr/cmsis
[submodule "src/third_party/zephyr/hal_stm32"]
	path = src/third_party/zephyr/hal_stm32
	url = https://chromium.googlesource.com/chromiumos/third_party/zephyr/hal_stm32
[submodule "src/third_party/zephyr/main"]
	path = src/third_party/zephyr/main
	url = https://github.com/FrameworkComputer/zephyr
[submodule "src/third_party/zephyr/nanopb"]
	path = src/third_party/zephyr/nanopb
	url = https://chromium.googlesource.com/chromiumos/third_party/zephyr/nanopb
[submodule "src/third_party/u-boot/files"]
	path = src/third_party/u-boot/files
	url = https://chromium.googlesource.com/chromiumos/third_party/u-boot
[submodule "src/chromium/depot_tools"]
	path = src/chromium/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools
